body {
	padding: 0;
	margin: 0;
}

.offcanvas-header {
	background-color: #333;
	height: 30px;
	text-align: center;
	color: #fff;
}

.offcanvas-btn {
	background-color: #333;
	border: none;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding: 7px 2px;
}

.offcanvas-btn-right {
	border-left: 1px solid #666;
	float: right;
}

.offcanvas-btn-left {
	border-right: 1px solid #666;
	float: left;
}

.offcanvas-btn-line {
	background-color: #fff;
	height: 1px;
	display: block;
	margin-bottom: 6px;
}

.offcanvas-main {
	padding: 100px 20px;
	height: 1200px;
}

.offcanvas-list {
	background-color: #333333;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.offcanvas-list li {
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvas-right,
.offcanvas-left {
	display: none;
}
