body {
	padding: 0;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.offcanvas-header {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	text-align: center;
	background-color: #FFF;
}

.offcanvas-header-title {
	line-height: 30px;
	display: inline-block;
}

.offcanvas-main {
	padding: 100px 20px;
	height: 1200px;
}

.offcanvas-list {
	background-color: #333333;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.offcanvas-list li {
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #666;
}

.offcanvas-right,
.offcanvas-left {
	display: none;
}

.offcanvas-title {
	font-size: 30px;
	margin-bottom: 0 0 20px 0;
}

.offcanvas-title-small {
	color: #6f6f6f;
	font-size: 0.6em;
	display: inline-block;
}

#offcanvas-btn-left {
	float: left;
}

#offcanvas-btn-right {
	float: right;
}
