body {
	padding: 0;
	margin: 0;
}

.offcanvas-header {
	background-color: #333;
	height: 40px;
	text-align: center;
	color: #fff;
	text-align: center;
}

.offcanvas-header-title {
	height: 40px;
	line-height: 40px;
	display: inline-block;
}

.offcanvas-btn {
	background-color: #333;
	border: none;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	padding: 7px 5px;
}

.offcanvas-btn-right {
	border-left: 1px solid #666;
	float: right;
}

.offcanvas-btn-left {
	border-right: 1px solid #666;
	float: left;
}

.offcanvas-btn-line {
	background-color: #fff;
	height: 2px;
	display: block;
	margin-bottom: 5px;
}

.offcanvas-main {
	padding: 100px 20px;
	height: 1200px;
}

.offcanvas-list {
	background-color: #333333;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.offcanvas-list li {
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #666;
}

.offcanvas-right,
.offcanvas-left {
	display: none;
}

.offcanvas-title {
	font-size: 30px;
	margin-bottom: 0 0 20px 0;
}

.offcanvas-title-small {
	color: #6f6f6f;
	font-size: 0.6em;
	display: inline-block;
}
